body {
    background-color: black;
    color: white;
    display: flex;
    margin: 0;
    

}

.nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100vh;
    padding: 20px;
    font-size: 20px;
    line-height: 40px;
    font-family: sans-serif;
    
    

}

.content {
    margin-left: 300px;
    padding: 20px;
    overflow-y: auto;
    height: 100vh;
}
.tabs{
    list-style-type: none;
}
    
.tabs a{
    text-decoration: none;
    color: white;

}



/* public/css/style.css */
.upload-container {
    display: inline-block;
    position: relative;
    margin-left: 400px;
    margin-top: 100px;
}

.upload-label {
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.profile-pic {
    width: 150px; /* Adjust size as needed */
    height: 150px; /* Adjust size as needed */
    border-radius: 50%; /* Make it circular */
    border: 2px solid #ccc; /* Optional border */
    object-fit: cover; /* Maintain aspect ratio */
}

.upload-input {
    display: none; /* Hide the input */
}

.upload-label span {
    margin-top: 8px; /* Space between image and text */
}

.ins{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
